
* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: #eeeeee;
}

#app {
    margin: 0 auto;
    padding: 0em;
    max-width: 500px;
}

.star {
    transition: all 0.12s ease-in-out;
}

.star-favorite {
    color: #ba0;
    transform: scale(1.2)
}
    .star-favorite:hover {
        transform: scale(1.2);
        filter: brightness(1.1);
    }

.star-not-favorite {
    color: #aaa;
}
    .star-not-favorite:hover {
        transform: scale(1.2);
        filter: brightness(1.05);
    }
